
/*J'ai selectionner toute la page pour donner une police et une taille*/
*
{
   font-size: 17px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
/*J'ai selectionner le corps pour donner un fond, une marge,la largeur, la hauteur, les rayons de la dordure*/
}
body
{
    background: lightblue;
    margin: 0 auto;
    width:210mm ;
    height: 297mm;
    border-radius: 1px #D3D3D3 solid;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.1);
/*Contneur cible pour la diviser en deux parties */
}
.conteneur
{
    width: 88%;
    min-height: 100vh;

    background: #ffff;
    margin: 40px;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0,  0, 0);
    
}
/*Stylisation du conteneur gauche */
.conteneur .left_side
{
   
    color: #fff;
    background: #003147;
    position: relative;
    text-align: justify;
    font-size: 15px;
#file{
    width: 100%;
    padding: 15px;

}
.left_side .conta ul li{
    padding: 20px;
    margin: 10px;
}
    
}
.imageBox{
    width: 88%;
    text-align: center;
}
.imageBox img{
   padding: 5px;
    width: 60%;
    
    border-radius: 50%;
}

/*Stylisation du conteneur droit */
.contenaire .right_side
{
    position: relative;
    background: #fff;
    padding: 20px;
}

.conteneur .right_side .conta
{
    text-align: justify;
    color: #fff;
    position: relative;
    padding: 5px;
    margin: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.conta ul li 
{
    list-style: none;
}
.Réseau ul li 
{
    list-style: none;
}
.Lang ul li 
{
    list-style:square;
}
.right_side h2{
    color: #417694;
    text-align: left;

}
.right_side ul li
{
    list-style: square;
}
h2{
    text-align: center;
    font-size: 20px;
}


